html,
body,
.el-main,
.ulStyle {
    margin: 0;
    padding: 0;
}
.ulStyle li{
    list-style: none;
}
.el-container > .el-header{
    line-height: 36px;
    text-align: right;
    color: #666666;
}
.el-main > .el-header{
    background: #2aacff;
}
.el-container > .el-main{
    overflow: hidden;
}
.el-container > .el-footer{
    background-color: #1f1e1e;
    line-height: 83px;
    color: #FFFFFF;
    text-align: center;
}
.el-header > .el-row .el-col{
    text-align: center;
    line-height: 93px;
    color: #FFFFFF;
    font-size: 18px;
}
.veLogo{
    width: 50px;
    position: relative;
    top: 15px;
}
.el-main > .el-footer{
    background: rgba(0,0,0,0.4);
    color: #FFFFFF;
}
.operateDiv{
    height: 73px;
    line-height: 73px;
    border-bottom: 1px solid #DCDCDC;
    text-align: center;
}
.operateDiv span{
    display: inline-block;
    height: 73px;
    padding: 10px;
    cursor: pointer;
}
.page_zone{
    width: 300px;
    min-height: 605px;
    border-right: 1px solid #dcdcdc;
    padding: 0 0 50px;
    position: relative;
    left: 20px;
}
.ulStyle li.numPage{
    padding: 10px;
    cursor: pointer;
}
.ulStyle li.numPage.on{
    background: rgba(0,0,0,0.2);
}
.edit_zone{
    width: 299px;
    min-height: 605px;
    border-left: 1px solid #dcdcdc;
    position: relative;
    padding: 18px 18px 32px;
}
.mobileModule{
    width: 360px;
    height: 460px;
    border: 1px solid #e1e1e1;
}
